.editor * {
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
}

.editor div p.err {
    background-color: red;
    color: white;
}

.editor div p.mark {
    background-color: yellow;
    color: black;
}

.editor div p {
    padding: 0px!important;
    margin: 0px!important;
    text-align: right!important;
}

.editor div {
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    position: absolute;
}

.editor textarea {
    border: none;
    padding: 0px 4px;
    margin: 0px;
    position: absolute;
}

.editor {
    border-style: solid;
    border-width: 1px;
    overflow-y: hidden;
    position:  relative; 
}
